/* Add the font-family styles here after linking the fonts in your HTML */
h1 {
    font-size: 16px;
    text-transform: uppercase;
}
body {
    background-color: black;
}

.titles {
    width: 50%;
    margin-left: 25%;
    margin-top: 25%;
    text-align: center;
    color: white;
    font-family: "Libre Baskerville", serif;
}

.img{
    border: 5px solid white;
    width: 100%;
}
